<div class="container">
    <div class="jumbotron my-auto">
        <div>
            <h4>Scrape articles from Medium and save your favorite ones</h4>
        </div>
        {{#each article}} {{#unless saved}} {{>articles/cardArticles this _id=_id title=title link=link summary=summary saved=true}}
        {{/unless}} {{/each}}
    </div>
</div>