<style>
    body,
    html {

        font-size: 1rem;
        background-image: url("/assets/img/bg1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;

        color: black;
        min-height: 100%;
        color: black;

        height: auto;
    }

    h1 {
        font-family: "Courgette", cursive;
    }

    h4 {
        font-family: "Courgette";
        font-size: 2rem;
    }

    .jumbotron {
        background-color: rgb(215, 236, 250);
    }
</style>

<div class="container">
    <div class="jumbotron">
        <div class='py-9'>
            <h1 class="text-center my-5">Saved Articles</h1>
        </div>

        {{#each article}} {{#if saved}} {{>articles/cardArticles-saved title=title _id=_id summary=summary link=link article=article
        saved=false note=note}} {{/if}} {{/each}}
    </div>
</div>