html, body {

  font-size: 1rem;
  background-image: url("/assets/img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 

  color: black;

  min-height: 100%;
  color: black;

  height: auto;
}

h1 {
  font-family: "Courgette", cursive;
}
h4 {
  font-family: "Courgette";
  font-size: 2rem;
  text-align: center;
}

.modal{
    background-color:rgba(0,0,0,.15);
    max-height:100%
}


.submitButton {
  -webkit-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.mainjumbo{
  background-color: rgb(215, 236, 250);
}

