<!-- Modal test -->
<div class="modal fade" id="loginModal" style="background-color:transparent;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notesTitle">Sign in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usernameInput2">Username</label>
            <input type="text" class="form-control" id="usernameInput2" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="passwordInput2">Password</label>
            <input type="password" class="form-control" id="passwordInput2" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary" id="loginSubmit">Sign in</button>
        </form>

      </div>
      <div class="modal-footer">
        <div class="float-left">
        <p >No account?<a class="signin" data-toggle="modal" data-target="#signinModal" style="color:blue;"> Create one!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



{{>login-signin/signin}}